<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Subordinates</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="/../css/bootstrap-grid.css" th:href="@{/css/bootstrap-grid.css}"/>
    <link rel="stylesheet" href="/../css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}"/>
    <link type="text/css" rel="stylesheet" href="/../css/custom.css" th:href="@{css/custom.css}"/>
</head>
<body>
<div th:insert="frontend/navbar :: nav"></div>

<div class="py-0 my-0 pl-3 bg-primary text-white">
    <h1 class="my-0 py-0">Add Subordinates</h1>
</div>

<div style="margin-bottom: 0;" th:if="${successMessage}"
     class="alert alert-success" role="alert"
     th:text="${successMessage}">
</div>

<!--<h1 th:text="'Select all individuals to be claimed as subordinates of ' + ${manager.userName}"></h1>-->

<div th:if="${users.size() == 0}">
    <p>There are no free users</p>
</div>

<div th:unless="${users.size() == 0}">
    <form action="#" th:object="${users}" th:action="@{addSelectedSubordinates}" method="post">
        <table class="table pt-0 mt-0 table-fit table-sm table-hover">
            <thead class="">
            <tr>
                <th style="width: 40%">Name</th>
                <th style="width: 50%">Email</th>
                <th style="width: 10%">Check</th>
            </tr>
            </thead>
            <tr th:each="user, iter : ${users}">
                <td th:text="${user.userName}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <input type="checkbox" name="userId" th:value="${user.userId}"/>
                </td>
            </tr>
        </table>
        <input type="hidden" name="managerId" th:value="${manager.userId}" />
        <input type="submit" class="btn btn-success" value="Add selected"/>
    </form>
</div><br>
<a th:href="@{/backtosubordinates(id=${manager.userId})}" class="btn btn-info">Return to subordinates</a>
<a th:href="@{/managers/{page}(page=1)}" class="btn btn-info">Return to managers</a>
</body>
</html>