<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>All managers</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" href="/../css/bootstrap-grid.css" th:href="@{/css/bootstrap-grid.css}" />
	<link rel="stylesheet" href="/../css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}" />
	<link type="text/css" rel="stylesheet" href="/../css/custom.css" th:href="@{css/custom.css}"/>
</head>
	<body>
	<div th:insert="frontend/navbar :: nav"></div>

	<div th:if="${manager}">
		<div>
			<table class="table table-striped">
				<tr>
					<th>Name</th>
					<th>Email</th>
				</tr>
				<tr>
					<td th:text="${manager.userName}"></td>
					<td th:text="${manager.email}"></td>
				</tr>
			</table>
		</div>
		<a th:href="@{manager-delete-{manager_id}(manager_id=${manager.userId})}" class="btn btn-danger">Delete account</a>
	</div>
	</body>
</html>