<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manager Subordinates</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="/../css/bootstrap-grid.css" th:href="@{/css/bootstrap-grid.css}"/>
    <link rel="stylesheet" href="/../css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}"/>
    <link type="text/css" rel="stylesheet" href="/../css/custom.css" th:href="@{css/custom.css}"/>
</head>
<body>
<div th:insert="frontend/navbar :: nav"></div>

<div class="py-0 my-0 pl-3 bg-primary text-white">
    <h1 class="my-0 py-0">Subordinates</h1>
</div>

<div style="margin-bottom: 0;" th:if="${successMessage}"
     class="alert alert-success" role="alert"
     th:text="${successMessage}">
</div>

<div style="margin-bottom: 0;" th:if="${infoMessage}"
     class="alert alert-info" role="alert"
     th:text="${infoMessage}">
</div>

<div th:if="${subordinates.size() == 0}">
    <p th:text="${manager.userName} + ' has no subordinates'"></p>
</div>
<div th:unless="${subordinates.size() == 0}">
    <table class="table pt-0 mt-0 table-fit table-sm table-hover">
        <caption th:text="'Subordinates of mr. ' + ${manager.userName}"></caption>
        <thead class="">
        <tr>
            <th style="width: 40%">Name</th>
            <th style="width: 50%">Email</th>
            <th style="width: 10%">Actions</th>
        </tr>
        </thead>
        <tr th:each="subordinate, iter : ${subordinates}">
            <td th:text="${subordinate.userName}"></td>
            <td th:text="${subordinate.email}"></td>
            <td>
                <a th:href="@{/releaseSubordinate(id=${subordinate.userId})}" class="btn btn-primary">Release</a>
            </td>
        </tr>
    </table>
    <div th:replace="frontend/pagination :: pagination_with_id"></div>
</div>

<a th:href="@{/addsubordinates(id=${manager.userId})}" class="btn btn-info"
   th:unless="${manager.enabled == 0}">Add Subordinates</a>
<a th:href="@{/managers/{page}(page=1)}" class="btn btn-info">Return to managers</a>
</body>
</html>