<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Update manager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" href="/../css/bootstrap-grid.css" th:href="@{/css/bootstrap-grid.css}" />
	<link rel="stylesheet" href="/../css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}" />
	<link type="text/css" rel="stylesheet" href="/../css/custom.css" th:href="@{css/custom.css}"/>
</head>
<body>
	<div th:insert="frontend/navbar :: nav"></div>

	<h1>Update Manager</h1>
	<div class="row justify-content-center" >
		<div class="col-md-4 col-md-offset-4">
			<form th:object="${manager}" th:action="@{/manager-update-{id}(id=${manager.userId})}" action="#" method="post">

				<input type="hidden" th:field="*{userId}" class="form-control"
					   placeholder="name" />

				<label>Username</label>
				<input type="text" th:field="*{userName}" class="form-control"
					   placeholder="name" />
				<p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="alert alert-danger">Name Error</p>

				<label>Email</label>
				<input type="email" th:field="*{email}" class="form-control"
					   placeholder="email" />
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger">Email Error</p>

				<label>Is enabled or not?</label>
				<input type="text" th:field="*{enabled}" class="form-control"
					   placeholder="enabled"/>
				<p th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}" class="alert alert-danger">Password Error</p>

				<label>Role ID</label>
				<input type="text" th:field="*{roleId}" class="form-control"
					   placeholder="role"/>
				<p th:if="${#fields.hasErrors('roleId')}" th:errors="*{roleId}" class="alert alert-danger">Password Error</p>

				<input type="submit" class="btn btn-success" value="Save changes"/>
			</form>
		</div>
	</div>
</body>
</html>