<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width" name="viewport">
    <title>Request</title>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
</head>
<body>

<div th:insert="frontend/navbar :: nav"></div>


<h1>Reopen Request</h1>
<div class="row justify-content-center">
    <div class="col-md-4 col-md-offset-4">
        <form action="#" method="post"
              th:action="@{/reopen-request-{infoDeskStatusId}-{employeeId}-{id}
                    (infoDeskStatusId = ${5},  employeeId =${infoDesk.employeeId},
                    id = ${infoDesk.infoDeskId})}"
              th:object="${infoDesk}">

            <input class="form-control" placeholder="Id" th:field="*{infoDeskId}" type="hidden"/>
            <input class="form-control" placeholder="employeeId" th:field="*{employeeId}" type="hidden"/>
            <input class="form-control" placeholder="infoDeskStatusId" th:field="*{infoDeskStatusId}" type="hidden"/>
            <input class="form-control" placeholder="question" th:field="*{infoDeskAnswer}" type="hidden"/>


            <div class="form-group">
                <label>Question</label>
                <input class="form-control" placeholder="infoDeskQuestion" th:field="*{infoDeskQuestion}" type="text"/>
                <p class="alert alert-danger" th:errors="*{infoDeskQuestion}"
                   th:if="${#fields.hasErrors('infoDeskQuestion')}">
                    Error, check name field</p>
            </div>

            <input class="btn btn-success" type="submit" value="Submit"/>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>