<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Course</title>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/custom.css" rel="stylesheet" th:href="@{css/custom.css}" type="text/css"/>
</head>
<body>
<div th:insert="frontend/navbar :: nav"></div>

<h1>New Course</h1>
<div class="container-fluid">

    <div class="row no-gutters ">
        <div class="col">
            <form action="#" method="post" th:action="@{saveCourse}" th:object="${courseAdd}">
                <input class="form-control" placeholder="Id" th:value="*{getId()}" type="number"/>

                <input class="form-control" placeholder="name" th:value="*{getName()}" type="text"/>
                <!--            <p th:if="${#value.hasErrors('getName()')}" th:errors="*{getName()}" class="alert alert-danger">Error, check name field</p>-->

                <input class="form-control" placeholder="course level" th:value="*{getCourse_level()}" type="text"/>
                <!--            <p th:if="${#fields.hasErrors('getCourse_level()')}" th:errors="*{getCourse_level()}" class="alert alert-danger">Error, check level field</p>-->

                <input class="form-control" placeholder="status" th:value="*{getStatus()}" type="text"/>
                <!--            <p th:if="${#fields.hasErrors('getStatus()')}" th:errors="*{getStatus()}" class="alert alert-danger">Error, check status field</p>-->

                <input class="form-control" placeholder="date start" th:value="*{getDate_start()}" type="text"/>
                <!--            <p th:if="${#fields.hasErrors('getDate_start()')}" th:errors="*{getDate_start()}" class="alert alert-danger">Error, check date</p>-->

                <input class="form-control" placeholder="date end" th:value="*{getDate_end()}" type="text"/>
                <!--            <p th:if="${#fields.hasErrors('getDate_end()')}" th:errors="*{getDate_end()}" class="alert alert-danger">Error, check date</p>-->

                <input class="form-control" placeholder="group number" th:value="*{getGroup_number()}" type="number"/>
                <!--            <p th:if="${#fields.hasErrors('getGroup_number()')}" th:errors="*{getGroup_number()}" class="alert alert-danger">Error, check group number</p>-->

                <input class="form-control" placeholder="min number" th:value="*{getMin_number()}" type="number"/>
                <!--            <p th:if="${#fields.hasErrors('getMin_number()')}" th:errors="*{getMin_number()}" class="alert alert-danger">Error, check min number</p>-->

                <input class="form-control" placeholder="description" th:value="*{getDescription()}" type="text"/>
                <!--            <p th:if="${#fields.hasErrors('getDescription()')}" th:errors="*{getDescription()}" class="alert alert-danger">Error, check description</p>-->

                <input class="form-control" placeholder="trainer" th:value="*{getTrainer()}" type="text"/>
                <!--            <p th:if="${#fields.hasErrors('getTrainer()')}" th:errors="*{getTrainer()}" class="alert alert-danger">Error, check trainer</p>-->

                <input class="btn btn-success" type="submit" value="Save"/>
            </form>
        </div>
    </div>

</div>

</body>
</html>