<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Course Create</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width" name="viewport">
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/buttonTop.css" rel="stylesheet" th:href="@{css/buttonTop.css}" type="text/css"/>
</head>

<body>
<div th:insert="frontend/navbar :: nav"></div>

<div class="container-fluid">
    <h2 class="text-center">Courses List</h2>
    <h2>
        <a class="btn btn-success" th:href="@{/course-add }">CREATE NEW COURSE</a>
    </h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="row">Id</th>
            <th scope="row">course name</th>
            <th scope="row">course level</th>
            <th scope="row">course status</th>
            <th scope="row">min number of Students</th>
            <th scope="row">max number of Students</th>
            <th scope="row">description</th>
            <th scope="row">Trainer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course, iter : ${courseList}">
            <td th:text="${course.courseId}"></td>
            <td th:text="${course.courseName}"></td>
            <td th:text="${course.courseLevel}"></td>
            <td th:text="${course.status.statusName}"></td>
            <td th:text="${course.minNumber}"></td>
            <td th:text="${course.maxNumber}"></td>
            <td th:text="${course.description}"></td>
            <td th:text="${course.trainer.userName}"></td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-outline-primary" th:href="@{/course_lessons(id = ${course.courseId})}">Lessons</a>
                </div>
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-info" th:href="@{/edit-course-{id} (id = ${course.courseId}) }">Edit</a>
                    <a class="btn btn-dark" th:href="@{/course-delete-by-{id} (id = ${course.courseId}) }">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="frontend/pagination :: pagination"></div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>