<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Course</title>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/custom.css" rel="stylesheet" th:href="@{css/custom.css}" type="text/css"/>
</head>
<body>
<div th:insert="frontend/navbar :: nav"></div>

<h1>New Course</h1>
<div class="container-fluid">

    <!--    <div class="row no-gutters ">-->
    <!--        <div class="col">-->
    <!--            <form action="#" method="post" th:action="@{saveCourse}" th:object="${courseAdd}">-->
    <!--                <input class="form-control" placeholder="Id" th:field="*{getId()}" type="number"/>-->

    <!--                <input class="form-control" placeholder="name" th:field="*{getName()}" type="text"/>-->
    <!--                &lt;!&ndash;            <p th:if="${#value.hasErrors('getName()')}" th:errors="*{getName()}" class="alert alert-danger">Error, check name field</p>&ndash;&gt;-->

    <!--                <input class="form-control" placeholder="course level" th:field="*{getCourse_level()}" type="text"/>-->
    <!--                &lt;!&ndash;            <p th:if="${#fields.hasErrors('getCourse_level()')}" th:errors="*{getCourse_level()}" class="alert alert-danger">Error, check level field</p>&ndash;&gt;-->

    <!--                <input class="form-control" placeholder="status" th:field="*{getStatus()}" type="text"/>-->
    <!--                &lt;!&ndash;            <p th:if="${#fields.hasErrors('getStatus()')}" th:errors="*{getStatus()}" class="alert alert-danger">Error, check status field</p>&ndash;&gt;-->

    <!--                <input class="form-control" placeholder="date start" th:field="*{getDate_start()}" type="text"/>-->
    <!--                &lt;!&ndash;            <p th:if="${#fields.hasErrors('getDate_start()')}" th:errors="*{getDate_start()}" class="alert alert-danger">Error, check date</p>&ndash;&gt;-->

    <!--                <input class="form-control" placeholder="date end" th:field="*{getDate_end()}" type="text"/>-->
    <!--                &lt;!&ndash;            <p th:if="${#fields.hasErrors('getDate_end()')}" th:errors="*{getDate_end()}" class="alert alert-danger">Error, check date</p>&ndash;&gt;-->

    <!--                <input class="form-control" placeholder="group number" th:field="*{getGroup_number()}" type="number"/>-->
    <!--                &lt;!&ndash;            <p th:if="${#fields.hasErrors('getGroup_number()')}" th:errors="*{getGroup_number()}" class="alert alert-danger">Error, check group number</p>&ndash;&gt;-->

    <!--                <input class="form-control" placeholder="min number" th:field="*{getMin_number()}" type="number"/>-->
    <!--                &lt;!&ndash;            <p th:if="${#fields.hasErrors('getMin_number()')}" th:errors="*{getMin_number()}" class="alert alert-danger">Error, check min number</p>&ndash;&gt;-->

    <!--                <input class="form-control" placeholder="description" th:field="*{getDescription()}" type="text"/>-->
    <!--                &lt;!&ndash;            <p th:if="${#fields.hasErrors('getDescription()')}" th:errors="*{getDescription()}" class="alert alert-danger">Error, check description</p>&ndash;&gt;-->

    <!--                <input class="form-control" placeholder="trainer" th:field="*{getTrainer()}" type="text"/>-->
    <!--                &lt;!&ndash;            <p th:if="${#fields.hasErrors('getTrainer()')}" th:errors="*{getTrainer()}" class="alert alert-danger">Error, check trainer</p>&ndash;&gt;-->

    <!--                <input class="btn btn-success" type="submit" value="Save"/>-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </div>-->

</div>

</body>
</html>