<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport">
    <title>Course Create</title>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/buttonTop.css" rel="stylesheet" th:href="@{css/buttonTop.css}" type="text/css"/>
</head>

<body>
<div th:insert="frontend/navbar :: nav"></div>

<div class="container-fluid">
    <h2>Courses</h2>
    <h4>
        <a class="btn btn-success" th:href="@{/course-add}">CREATE NEW COURSE</a>
    </h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="row">Id</th>
            <th scope="row">courseName</th>
            <th scope="row">courseLevel</th>
            <th scope="row">courseStatus</th>
            <th scope="row">dateStart</th>
            <th scope="row">dateEnd</th>
            <th scope="row">groupNumber</th>
            <th scope="row">minNumber</th>
            <th scope="row">description</th>
            <th scope="row">trainer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course, iter : ${courseList}">
            <td th:text="${course.courseId}"></td>
            <td th:text="${course.courseName}"></td>
            <td th:text="${course.courseLevel}"></td>
            <td th:text="${course.courseStatus}"></td>
            <td th:text="${course.dateStart}"></td>
            <td th:text="${course.dateEnd}"></td>
            <td th:text="${course.groupNumber}"></td>
            <td th:text="${course.minNumber}"></td>
            <td th:text="${course.description}"></td>
            <td th:text="${course.courseTrainer}"></td>
            <td>
                <div class="btn-group">
                    <!--                    Delete button use @PathVariable to understand what id it need-->
                    <!--                    <a class="btn btn-dark" th:href="@{/course-delete-by-{id} (id=${course.getId()}) }">Delete</a>-->
                    <!--                    <a class="btn btn-info" th:href="@{/edit-course-{id}(id=${course.getId()})}">Edit</a>-->
                </div>
            </td>
        </tr>


        </tbody>
    </table>
</div>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>