<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Course</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/custom.css" rel="stylesheet" th:href="@{css/custom.css}" type="text/css"/>
</head>

<body>
<div th:insert="frontend/navbar :: nav"></div>

<h1>New Course</h1>
<div class="container-fluid">

    <div class="row no-gutters ">
        <div class="col">
            <form action="#" method="post" th:action="@{course-save}" th:object="${course}">
                <input class="form-control" placeholder="Id" th:field="*{courseId}" type="hidden"/>

                <div class="form-group">
                    <label>course name</label>
                    <input class="form-control" placeholder="name" th:field="*{courseName}" type="text"/>
                    <p class="alert alert-danger" th:errors="*{courseName}" th:if="${#fields.hasErrors('courseName')}">
                        Error, check name field</p>
                </div>

                <div class="form-group">
                    <label>level</label>
                    <input class="form-control" placeholder="course level" th:field="*{courseLevel}" type="text"/>
                    <p class="alert alert-danger" th:errors="*{courseLevel}"
                       th:if="${#fields.hasErrors('courseLevel')}">
                        Error, check level field</p>
                </div>

                <div class="form-group">
                    <label for="formSelectStatus">course status</label>
                    <select id="formSelectStatus" class="form-control" th:field="*{courseStatus}">
                        <option th:each="status : ${statuses}"
                                th:value="${status.statusId}"
                                th:text="${status.statusName}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label>min number</label>
                    <input class="form-control" placeholder="min number" th:field="*{minNumber}" type="number"/>
                    <p class="alert alert-danger" th:errors="*{minNumber}" th:if="${#fields.hasErrors('minNumber')}">
                        Error,
                        min number</p>
                </div>

                <div class="form-group">
                    <label>max number</label>
                    <input class="form-control" placeholder="max number" th:field="*{maxNumber}" type="number"/>
                    <p class="alert alert-danger" th:errors="*{maxNumber}" th:if="${#fields.hasErrors('maxNumber')}">
                        Error,
                        max number</p>
                </div>

                <div class="form-group">
                    <label>description</label>
                    <input class="form-control" placeholder="description" th:field="*{description}" type="text"/>
                    <p class="alert alert-danger" th:errors="*{description}"
                       th:if="${#fields.hasErrors('description')}">
                        Error, check description</p>
                </div>

                <div class="form-group">
                    <label for="formSelectTrainer">Trainer</label>
                    <select id="formSelectTrainer" class="form-control" th:field="*{trainerId}">
                        <option th:each="trainer : ${trainers}"
                                th:value="${trainer.userId}"
                                th:text="${trainer.userName}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label>lesson number</label>
                    <input class="form-control" placeholder="lesson number" th:field="*{lessonNumber}" type="number"/>
                    <p class="alert alert-danger" th:errors="*{lessonNumber}"
                       th:if="${#fields.hasErrors('lessonNumber')}">
                        Error, check lesson number</p>
                </div>

                <input class="btn btn-success" type="submit" value="Save course"/>
            </form>
        </div>
    </div>

</div>

</body>
</html>