<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Course</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
</head>
<body>
<div th:insert="frontend/navbar :: nav"></div>

<h1>Edit Course</h1>
<div class="row justify-content-center">
    <div class="col-md-4 col-md-offset-4">
        <form action="#" method="post" th:action="@{/edit-course-{id}(id = ${course.courseId})}"
              th:object="${course}">

            <input class="form-control" placeholder="Id" th:field="*{courseId}" type="hidden"/>

            <label>course name
                <input class="form-control" placeholder="name" th:field="*{courseName}" type="text"/>
            </label>
            <p class="alert alert-danger" th:errors="*{courseName}" th:if="${#fields.hasErrors('courseName')}">Error,
                check name field</p>

            <label> course level
                <input class="form-control" placeholder="course level" th:field="*{courseLevel}" type="text"/>
            </label>
            <p class="alert alert-danger" th:errors="*{courseLevel}"
               th:if="${#fields.hasErrors('courseLevel')}">Error, check level field</p>

            <label> course status
                <input class="form-control" placeholder="status" th:field="*{courseStatus}" type="text"/>
            </label>
            <p class="alert alert-danger" th:errors="*{courseStatus}" th:if="${#fields.hasErrors('courseStatus')}">
                Error,
                check status field</p>

            <label> date start
                <input class="form-control" placeholder="date start" th:field="*{dateStart}" type="text"/>
            </label>
            <p class="alert alert-danger" th:errors="*{dateStart}"
               th:if="${#fields.hasErrors('dateStart')}">Error, check date</p>

            <label> date end
                <input class="form-control" placeholder="date end" th:field="*{dateEnd}" type="text"/>
            </label>
            <p class="alert alert-danger" th:errors="*{dateEnd}" th:if="${#fields.hasErrors('dateEnd')}">
                Error, check date</p>

            <label> group number
                <input class="form-control" placeholder="group number" th:field="*{groupNumber}" type="number"/>
            </label>
            <p class="alert alert-danger" th:errors="*{groupNumber}"
               th:if="${#fields.hasErrors('groupNumber')}">Error, check group number</p>

            <label> min number
                <input class="form-control" placeholder="min number" th:field="*{minNumber}" type="number"/>
            </label>
            <p class="alert alert-danger" th:errors="*{minNumber}"
               th:if="${#fields.hasErrors('minNumber')}">Error, check min number</p>

            <label> description
                <input class="form-control" placeholder="description" th:field="*{description}" type="text"/>
            </label>
            <p class="alert alert-danger" th:errors="*{description}"
               th:if="${#fields.hasErrors('description')}">Error, check description</p>

            <label> trainer
                <input class="form-control" placeholder="trainer" th:field="*{courseTrainer}" type="text"/>
            </label>
            <p class="alert alert-danger" th:errors="*{courseTrainer}" th:if="${#fields.hasErrors('courseTrainer')}">
                Error, check trainer</p>

            <input class="btn btn-success" type="submit" value="Save"/>
        </form>
    </div>
</div>
</body>
</html>