<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Main Slider</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/custom.css" rel="stylesheet" th:href="@{css/custom.css}" type="text/css"/>
</head>

<body>
<div th:insert="frontend/navbar :: nav"></div>

<div class="container">
    <h3>Add Slider</h3>

    <form method="post" enctype="multipart/form-data" action="/slider-save">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="file">Upload Image:</label>
            <div class="col-sm-10">
                <input class="form-control" type="file" id="file" name="file"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="name">Button name:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="name" placeholder="Button's name" name="name"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="url">Page:</label>
            <div class="col-sm-10">
                <input class="form-control" type="url" id="url" placeholder="Input URL for button" name="url"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <button type="submit" class="btn btn-success">Save data</button>
            </div>
        </div>

    </form>

</div>

<hr>

<div class="container">
    <h3>List of slider data</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="row">Slider Image</th>
            <th scope="row">Image Name</th>
            <th scope="row">Button Name</th>
            <th scope="row">Button URL</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data : ${dataList}">
            <td><img th:src="@{'data:image/jpeg;base64,'+${data.filesDataString}}" th:alt="${data.filesName}" class="img-fluid"></td>
            <td th:text="${data.filesName}"></td>
            <td th:text="${data.buttonName}"></td>
            <td th:text="${data.buttonUrl}"></td>
            <td>
                <div class="btn-group">
                    <!--                    Delete button use @PathVariable to understand what id it need-->
                    <!--<button type="button" class="btn btn-outline-warning" disabled>Edit</button>-->
                    <a class="btn btn-outline-danger" th:href="@{/slider-delete-by-{id} (id = ${data.mainSliderId}) }">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>

</html>