<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:border="http://www.w3.org/1999/xhtml">
<head>
    <title>Manage Main Slider</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/custom.css" rel="stylesheet" th:href="@{css/custom.css}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!--<script>
        $(document).ready(function () {
            $('saveBtn' + ).click(function () {
                $.post("demo_test_post.asp",
                    {
                        name: "Donald Duck",
                        city: "Duckburg"
                    },
                    function (data, status) {
                        alert("Data: " + data + "\nStatus: " + status);
                    });
            });
        });
    </script>
-->
</head>

<body>
<div th:insert="frontend/navbar :: nav"></div>

<div class="container">
    <h3>Add Slider</h3>

    <form method="post" enctype="multipart/form-data" action="/slider-save">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="file">Upload Image:</label>
            <div class="col-sm-10">
                <input class="form-control" type="file" id="file" name="file">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="name">Button name:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="name" placeholder="Button's name" name="name">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="url">Page:</label>
            <div class="col-sm-10">
                <input class="form-control" type="url" id="url" placeholder="Input URL for button" name="url">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <button type="submit" class="btn btn-success">Save data</button>
            </div>
        </div>

    </form>

</div>

<hr>

<div class="container">
    <h3>List of slider data</h3>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Slider Image</th>
            <th scope="col"></th>
            <th scope="col">Button Name</th>
            <th scope="col">Button URL</th>
        </tr>
        </thead>
        <tbody>
        <form method="post" enctype="multipart/form-data" action="/slider-edit">
            <tr th:id="${data.mainSliderId}" th:each="data : ${dataList}">
                <input type="text" name="sliderId" th:value="${data.mainSliderId}" hidden>
                <td><img th:src="@{'data:image/jpeg;base64,'+${data.filesDataString}}" th:alt="${data.filesName}"
                         class="img-fluid"></td>
                <td><input th:class="inp + ${data.mainSliderId}" type="file" name="editFile" disabled></td>
                <td><input th:class="inp + ${data.mainSliderId}" type="text" name="editName" th:value="${data.buttonName}" style="border: none; background-color: transparent;" disabled></td>
                <td><input th:class="inp + ${data.mainSliderId}" type="text" name="editUrl" th:value="${data.buttonUrl}" style="border: none; background-color: transparent;" disabled></td>
                <td>
                    <div class="btn-group">
                        <!--                    Delete button use @PathVariable to understand what id it need-->
                        <button th:id="saveBtn + ${data.mainSliderId}" th:onclick="'post(\'' + ${data.mainSliderId} + '\');'" type="submit" class="btn btn-success" style="visibility: hidden;">Save</button>
                        <button th:id="editBtn + ${data.mainSliderId}" th:onclick="'makeEditable(\'' + ${data.mainSliderId} + '\');'" type="button"
                                class="btn btn-outline-warning">Edit
                        </button>
                        <!--                    <a class="btn btn-outline-warning" th:href="@{/slider-edit-by-{id} (id = ${data.mainSliderId}) }">Edit</a>-->
                        <a class="btn btn-outline-danger"
                           th:href="@{/slider-delete-by-{id} (id = ${data.mainSliderId}) }">Delete</a>
                    </div>
                </td>
            </tr>
        </form>
        </tbody>
    </table>
</div>


<script>
    function makeEditable(id){

        var element = document.getElementById(id);

        // element.setAttribute("contenteditable", "true");
        element.setAttribute("class", "table-warning");

        document.getElementById('saveBtn' + id).style.visibility = "visible";
        document.getElementById('editBtn' + id).style.visibility = "collapse";

        var inputs = document.getElementsByClassName('inp' + id);
        for(i in inputs){
            inputs[i].disabled = false;
        }

        // document.getElementById("test").disabled = false;

    }
</script>


</body>

</html>