<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Main Slider</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/custom.css" rel="stylesheet" th:href="@{css/custom.css}" type="text/css"/>
</head>

<body>
<div th:insert="frontend/navbar :: nav"></div>

<div class="container-fluid">
    <h3>Add Slider</h3>

    <form class="fv-form-horizontal" method="post" enctype="multipart/form-data" action="/data-save">

        <div class="form-group">
            <label class="control label col-sm-2" for="file">Upload file:</label>
            <div class="col-sm-10">
                <input class="form-control" type="file" id="file" name="file"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control label col-sm-2" for="name">Button name:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="name" placeholder="Button's name" name="name"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control label col-sm-2" for="url">Page:</label>
            <div class="col-sm-10">
                <input class="form-control" type="url" id="url" placeholder="Input URL for button" name="url"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Save data</button>
            </div>
        </div>

    </form>

</div>

<div class="container-fluid">
    <h3>List of slider datas</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="row">Image</th>
            <th scope="row">Image Name</th>
            <th scope="row">Button Name</th>
            <th scope="row">Button URL</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data : ${dataList}">
            <td th:text="tempNoImage"></td>
            <td th:text="${data.filesName}"></td>
            <td th:text="${data.buttonName}"></td>
            <td th:text="${data.buttonUrl}"></td>
            <td>
                <div class="btn-group">
                    <!--                    Delete button use @PathVariable to understand what id it need-->
                    <button type="button" class="btn btn-outline-warning" disabled>Edit</button>
                    <a class="btn btn-outline-danger" th:href="@{/data-delete-by-{id} (id = ${data.mainSliderId}) }">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>