<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Main Cards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div th:insert="frontend/navbar :: nav"></div>

<div class="container-fluid">
    <br>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#uploadForm">Open add teacher card form
    </button>
    <br>
    <form method="post" enctype="multipart/form-data" action="/card-save" id="uploadForm"
          class="collapse">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="file">Choose photo:</label>
            <div class="col-auto">
                <input class="form-control-file" type="file" id="file" name="file" accept="image/*" required>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="title">Card title:</label>
            <div class="col-auto">
                <input class="form-control" type="text" id="title" placeholder="Teacher's name" name="title"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="descr">Card text:</label>
            <div class="col-auto">
                <input class="form-control" type="text" id="descr" placeholder="About teacher" name="description"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="name">Button name:</label>
            <div class="col-auto">
                <input class="form-control" type="text" id="name" placeholder="Button's name" name="name"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="url">Page:</label>
            <div class="col-auto">
                <input class="form-control" type="url" id="url" placeholder="Input URL for button" name="url"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-auto">
                <button type="submit" class="btn btn-success">Save data</button>
            </div>
        </div>

    </form>

    <br>

    <div th:if="${message != null}" class="container">
        <div class="d-flex justify-content-center">
            <p class="bg-info text-white" th:text="${message}"></p>
        </div>
    </div>

    <br>

    <h3>List of card data</h3>

    <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="row">Photo</th>
            <th scope="row"></th>
            <th scope="row">Card Title</th>
            <th scope="row">Card Text</th>
            <th scope="row">Button Name</th>
            <th scope="row">Card URL</th>
        </tr>
        </thead>
        <tbody>
        <form method="post" enctype="multipart/form-data" action="/card-edit" th:each="data : ${dataList}">
        <tr th:id="${data.mainCardId}">
            <input name="cardId" th:value="${data.mainCardId}" hidden>
            <td><img th:src="@{'data:image/jpeg;base64,'+${data.filesDataString}}" th:alt="${filesName}" class="img-fluid"></td>
            <td><input th:class="inp + ${data.mainCardId}" type="file" name="editFile"
                                                   style="visibility: hidden" accept="image/*"></td>
            <td><input th:class="inp + ${data.mainCardId}" type="text" name="editTitle"
                                                   th:value="${data.cardTitle}"
                                                   disabled></td>
            <td><input th:class="inp + ${data.mainCardId}" type="text" name="editText"
                                                  th:value="${data.cardText}"
                                                  disabled></td>
            <td><input th:class="inp + ${data.mainCardId}" type="text" name="editBtnName"
                                                    th:value="${data.buttonName}"
                                                    disabled></td>
            <td><input th:class="inp + ${data.mainCardId}" type="text" name="editUrl"
                                                 th:value="${data.cardUrl}" disabled></td>
            <td>
                <div class="btn-group">
                    <button th:id="saveBtn + ${data.mainCardId}" type="submit" class="btn btn-success" style="visibility: hidden;">Save</button>
                    <button th:id="editBtn + ${data.mainCardId}"
                            th:onclick="'makeEditable(\'' + ${data.mainCardId} + '\');'" type="button"
                            class="btn btn-outline-warning">Edit
                    </button>
                    <a class="btn btn-outline-danger" th:href="@{/card-delete-by-{id} (id = ${data.mainCardId}) }">Delete</a>
                </div>
            </td>
        </tr>
        </form>
        </tbody>
    </table>
    </div>
</div>


<script>
    function makeEditable(id) {

        var element = document.getElementById(id);

        element.setAttribute("class", "table-warning");

        document.getElementById('saveBtn' + id).style.visibility = "visible";
        document.getElementById('editBtn' + id).style.visibility = "collapse";

        var inputs = document.getElementsByClassName('inp' + id);
        for (i in inputs) {
            inputs[i].disabled = false;
            inputs[i].style.visibility = "visible";
        }

    }
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>