<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit weekday</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
</head>
<body>
<div th:insert="frontend/navbar :: nav"></div>

<!--<th scope="row">weekdayId</th>-->
<!--<th scope="row">dayName</th>-->
<!--<th scope="row">timeStart</th>-->
<!--<th scope="row">timeEnd</th>-->
<!--<th scope="row">periodId</th>-->



<h1>Edit weekday</h1>
<div class="row justify-content-center">
    <div class="col-md-4 col-md-offset-4">
        <form action="#" method="post" th:action="@{/edit-weekday-{weekdayId}-{id}
                            (weekdayId = ${weekday.weekdayId}, id = ${weekday.periodId})}" th:object="${weekday}">

            <input class="form-control" placeholder="material id" th:field="*{weekdayId}" type="hidden"/>


            <label>dayName</label>
            <input class="form-control" placeholder="dayName " th:field="*{dayName}"
                   type="text"/>
            <p class="alert alert-danger" th:errors="*{dayName}"
               th:if="${#fields.hasErrors('dayName')}">
                Error, check dayName field</p>

            <label>timeStart</label>
            <input class="form-control" placeholder="timeStart" th:field="*{timeStart}" type="text"/>
            <p class="alert alert-danger" th:errors="*{timeStart}" th:if="${#fields.hasErrors('timeStart')}">
                Error, timeStart field</p>

            <label>timeEnd</label>
            <input class="form-control" placeholder="timeEnd" th:field="*{timeEnd}" type="text"/>
            <p class="alert alert-danger" th:errors="*{timeEnd}" th:if="${#fields.hasErrors('timeEnd')}">
                Error, timeEnd field</p>

            <input class="form-control" placeholder="lesson id" th:field="*{periodId}" type="hidden"/>


            <input class="btn btn-success" type="submit" value="Save"/>
        </form>
    </div>
</div>
</body>
</html>