<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Weekday</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/custom.css" rel="stylesheet" th:href="@{css/custom.css}" type="text/css"/>
</head>

<body>
<div th:insert="frontend/navbar :: nav"></div>

<h1>Registration for course</h1>
<div class="container-fluid">

    <div class="row no-gutters ">
        <div class="col">
            <form action="#" method="post" th:action="@{/weekday-save}" th:object="${weekday}">

                <input class="form-control" placeholder="Id" th:field="*{weekdayId}" type="hidden"/>
                <input class="form-control" placeholder="course Id" th:field="*{periodId}" type="hidden"/>

                <label>Enter two days that are comfortable to you</label>
                <input class="form-control" placeholder="Wednesday, Friday" th:field="*{dayName}" type="text" required
                       minlength="11"/>
                <p class="alert alert-danger" th:errors="*{dayName}" th:if="${#fields.hasErrors('dayName')}"></p>
                <label>Enter time for first day</label>
                <input class="form-control" placeholder="12:00-14:00" th:field="*{timeStart}"
                       type="text" required minlength="9"/>
                <p class="alert alert-danger" th:errors="*{timeStart}"
                   th:if="${#fields.hasErrors('timeStart')}">
                </p>

                <label>Enter time for second day</label>
                <input class="form-control" placeholder="18:00-20:00" th:field="*{timeEnd}" type="text" required
                       minlength="9"/>
                <p class="alert alert-danger" th:errors="*{timeEnd}"
                   th:if="${#fields.hasErrors('timeEnd')}">
                </p>


                <input class="btn btn-success" type="submit" value="Save"/>
            </form>
        </div>
    </div>

</div>

</body>
</html>