<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width" name="viewport">
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/buttonTop.css" rel="stylesheet" th:href="@{css/buttonTop.css}" type="text/css"/>
<!--    <title>Lesson material list</title>-->
</head>

<body>
<div th:insert="frontend/navbar :: nav"></div>


<div class="container-fluid">
    <h2>Weekday List</h2>

    <div class="btn">
        <a class="btn btn-success btn-lg" th:href="@{/weekday-add-{periodId}
              (periodId = ${desiredPeriod.desiredPeriodId})}">CREATE NEW WEEKDAY</a>

    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="row">id</th>
            <th scope="row">Name of day</th>
            <th scope="row">time for the first days</th>
            <th scope="row">time for the second days</th>
            <th scope="row">perid id</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="weekday, iter : ${weekdayListOfPeriod}">
            <td th:text="${weekday.weekdayId}"></td>
            <td th:text="${weekday.dayName}"></td>
            <td th:text="${weekday.timeStart}"></td>
            <td th:text="${weekday.timeEnd}"></td>
            <td th:text="${weekday.periodId}"></td>
            <td>
                <div class="btn-group">
                  
                    <a class="btn btn-info" th:href="@{/edit-weekday-{weekdayId}-{id}
                    (weekdayId = ${weekday.weekdayId}, id = ${weekday.periodId}) }">Edit</a>


                    <a class="btn btn-dark" th:href="@{/weekday-delete-by/{weekdayId}/{id}
                     (weekdayId = ${weekday.weekdayId}, id = ${weekday.periodId}) }">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>