<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>All trainers</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" href="/../css/bootstrap-grid.css" th:href="@{/css/bootstrap-grid.css}" />
	<link rel="stylesheet" href="/../css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}" />
	<link type="text/css" rel="stylesheet" href="/../css/custom.css" th:href="@{css/custom.css}"/>
</head>
	<body>
	<div th:insert="frontend/navbar :: nav"></div>

	<div th:if="${trainer}">
		<div class="row" >
			<table class="table table-striped">
				<tr>
					<th>Name</th>
					<th>Email</th>
				</tr>
				<tr>
					<td th:text="${trainer.userName}"></td>
					<td th:text="${trainer.email}"></td>
				</tr>
			</table>
		</div>
		<a th:href="@{trainer-delete-{trainer_id}(trainer_id=${trainer.userId})}" class="btn btn-danger">Delete account</a>
	</div>
	</body>
</html>