<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All trainers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="/../css/bootstrap-grid.css" th:href="@{/css/bootstrap-grid.css}" />
    <link rel="stylesheet" href="/../css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}" />
    <link type="text/css" rel="stylesheet" href="/../css/custom.css" th:href="@{css/custom.css}"/>
</head>
    <body>
    <div th:insert="frontend/navbar :: nav"></div>
    <div th:if="${successMessage}"
         class="alert alert-success" role="alert"
         th:text="${successMessage}">
    </div>
    <h1>Trainers</h1>
        <table class="table table-fit">
            <thead class="">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tr th:each = "trainer,iter:${trainers}">
                <td th:text="${trainer.userName}"></td>
                <td th:text="${trainer.email}"></td>
                <td>
                    <a th:href="@{/trainer-{id}(id=${trainer.userId})}" class="btn btn-primary">Show</a>
                    <a th:href="@{/trainer-update-{id}(id=${trainer.userId})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/trainer-delete-{id}(id=${trainer.userId})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </table>
    <a th:href="@{/trainer-add}" class="btn btn-info">Add trainer</a>
    <a th:href="@{/trainers-delete-all}" class="btn btn-danger">Delete all trainers</a>
    </body>
</html>