<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Group Create</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width" name="viewport">
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/buttonTop.css" rel="stylesheet" th:href="@{css/buttonTop.css}" type="text/css"/>
</head>

<body>
<div th:insert="frontend/navbar :: nav"></div>

<div class="container-fluid">
    <h2 align="center">There are groups without CHATS:</h2>



    <div  class="btn" th:if="${#request.isUserInRole('ROLE_ADMIN') and groupList.size() != 0}">
        <a class="btn btn-success btn-lg" th:href="@{/create-chat-for-groups/{courseId}
        (courseId = ${courseGroup.courseId})  }">CREATE CHATS FOR ALL GROUPS</a>
    </div>




    <div  class="btn">
        <a class="btn btn btn-info btn-lg" th:href="@{/course_create/1}">Back to Course</a>
    </div>
    <div th:if="${groupList.size() == 0}">
        <h5 class="w3-opacity" align="center"><b>All groups have chats!</b></h5>
    </div>
    <table class="table table-striped">
        <thead>

        <tr>

            <th scope="row">Name</th>

        <th scope="row">Course Name</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="group, iter : ${groupList}">

            <td th:text="${group.groupName}"></td>

          <td th:text="${group.courseId}"></td>



        </tr>
        </tbody>
    </table>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>