<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="/../css/bootstrap-grid.css" th:href="@{/css/bootstrap-grid.css}" />
    <link rel="stylesheet" href="/../css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}" />
    <link type="text/css" rel="stylesheet" href="/../css/custom.css" th:href="@{css/custom.css}"/>
</head>
    <body>

    <div th:insert="frontend/navbar :: nav"></div>

    <h1>Log in</h1>
        <div class="row justify-content-center" >
            <div class="col-md-4 col-md-offset-4">

                <div th:if="${successMessage}"
                     class="alert alert-success" role="alert"
                     th:text="${successMessage}">
                </div>

                <div th:if="${param.error}" class="alert alert-danger" role="alert">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
                    <!--<form name="f" th:action="@{/login}" method="POST">    -->
                <form name="f" th:action="@{/j_spring_security_check}" method="POST">

                    <label>Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Your email" />

                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password" />

                    <input type="submit" class="btn btn-success" value="Login"/>

                </form>

                <div class="footer-copyright text-center py-3">
                    <a href="forgotpassword" >Forgot your password?</a>
                </div>

            </div>
        </div>
    </body>
</html>