<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subordinates Attendance</title>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/custom.css" rel="stylesheet" th:href="@{css/custom.css}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div th:insert="frontend/navbar :: nav"></div>

<h3>Your Subordinates Attendance</h3>

<div th:if="${attendances.size() == 0}">
    <h1>There are no attendances.</h1>
</div>
<div th:unless="${attendances.size() == 0}">
    <table class="table pt-0 mt-0 table-fit table-sm table-hover">
        <thead class="">
        <tr>
            <th style="width: 40%">Subordinates</th>
            <th style="width: 50%">Presence</th>
            <th style="width: 50%">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="attendance, itemStat : ${attendances}">
            <td th:text="${attendance.user.userName}">
            <td th:text="${attendance.attendanceType.getAttendanceType()}"></td>
            <td th:text="${attendance.schedule.scheduleDate}"></td>
        </tr>
    </table>
</div>
</body>
</html>