<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Lesson</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/custom.css" rel="stylesheet" th:href="@{css/custom.css}" type="text/css"/>
</head>

<body>
<div th:insert="frontend/navbar :: nav"></div>

<h1>New Lesson</h1>
<div class="container-fluid">

    <div class="row no-gutters ">
        <div class="col">
            <form action="#" method="post" th:action="@{/lesson-add}" th:object="${lesson}">
                <input class="form-control" placeholder="Id" th:field="*{lessonId}" type="hidden"/>

                <input class="form-control" placeholder="lesson Name" th:field="*{lessonName}" type="text"/>
                <p class="alert alert-danger" th:errors="*{lessonName}" th:if="${#fields.hasErrors('lessonName')}">
                    Error, check lesson name field</p>

                <input class="form-control" placeholder="lesson Description" th:field="*{lessonDescription}"
                       type="text"/>
                <p class="alert alert-danger" th:errors="*{lessonDescription}"
                   th:if="${#fields.hasErrors('lessonDescription')}">
                    Error, check lesson description field</p>

                <input class="form-control" placeholder="lesson Duration" th:field="*{lessonDuration}" type="number"/>
                <p class="alert alert-danger" th:errors="*{lessonDuration}"
                   th:if="${#fields.hasErrors('lessonDuration')}">
                    Error, check lesson Duration field</p>

                <input class="form-control" placeholder="homework Id" th:field="*{homeworkId}" type="number"/>
                <p class="alert alert-danger" th:errors="*{homeworkId}" th:if="${#fields.hasErrors('homeworkId')}">
                    Error, homework Id field</p>

                <input class="form-control" placeholder="course Id" th:field="*{courseId}" type="number"/>
                <p class="alert alert-danger" th:errors="*{courseId}" th:if="${#fields.hasErrors('courseId')}">
                    Error, homework Id field</p>

                <input class="form-control" placeholder="lesson number" th:field="*{lessonNumber}" type="number"/>
                <p class="alert alert-danger" th:errors="*{lessonNumber}" th:if="${#fields.hasErrors('lessonNumber')}">
                    Error, homework Id field</p>


                <input class="btn btn-success" type="submit" value="Save lesson"/>
            </form>
        </div>
    </div>

</div>

</body>
</html>