<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>FORUM</title>
    <link rel="stylesheet" href="/../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="/../css/bootstrap-grid.css" th:href="@{/css/bootstrap-grid.css}" />
    <link rel="stylesheet" href="/../css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}" />
    <link type="text/css" rel="stylesheet" href="/../css/custom.css" th:href="@{css/custom.css}"/>
    <link href="/../css/buttonTop.css" rel="stylesheet" th:href="@{css/buttonTop.css}" type="text/css"/>
    <link rel="stylesheet" href="/css/chat.css" />
</head>
<body>
<div th:insert="frontend/navbar :: nav"></div>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div id="username-page">
    <div class="username-page-container">
        <h1 class="title">You log in as:</h1>
        <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <p placeholder="Username" id="name" th:text="${user.Username}"></p>
                <p placeholder="id" id="id" th:text="${id}" class = "hidden"></p>
                <p placeholder="id" id="chatId" th:text="${chatId}" class = "hidden"></p>

<!--                <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" />-->
            </div>
            <div class="form-group">
                <button type="submit" class="accent username-submit">Start Chatting</button>
            </div>
        </form>
    </div>
</div>

<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
            <h2 th:text="${chatName}"></h2>
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <ul id="messageArea"  >



            <li class = "chat-message" th:each="message, iter : ${messagesFromChat}">
                <i style="background-color: rgb(255,193,7);" th:text="${message.sender.charAt(0)}"></i>
                <span th:text="${message.sender}"> </span>
                <p  th:text="${message.getMessageDate()}"></p>
                <p th:text="${message.message}"></p>
            </li>





<!--            <table class="table table-striped">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th scope="row">message Id</th>-->
<!--                    <th scope="row">message</th>-->

<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->

<!--                <tr th:each="message, iter : ${messagesFromChat}">-->
<!--                    <td th:text="${message.id}"></td>-->
<!--                    <td th:text="${message.message}"></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->



        </ul>
        <form id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">

                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/chat.js"></script>
</body>
</html>