<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COURSES</title>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/buttonTop.css" rel="stylesheet" th:href="@{css/buttonTop.css}" type="text/css"/>
    <style>

    </style>
</head>
<body>

<div th:insert="frontend/navbar :: nav"></div>

<!-- do something with TEXT(problem is it goes out of rang if it a lot)-->
<div class="container-fluid">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto w-25">
                <img alt="missing img" class="img-fluid"
                     src="../../static/img/english.jpg" th:src="@{/img/english.jpg}">
            </div>
            <div class="col-auto">
                <div class="card-block px-2">
                    <h5 class="card-title"><b>Intermediate English Course</b></h5>
                    <p class="card-text">
                    <ul id="er" type="circle">
                    <li> Develop greater control of English grammar
                    <li> Express and understand key information.
                    <li> Describe experiences and events, dreams, hopes and ambitions
                    <li> Give reasons and explanations for opinions and plans
                    <li> Practise forming connected text on topics of personal interest
                    <li> Increase your vocabulary to cover subjects </li></ul></p>
                </div>
            </div>
        </div>
        <div class="card-footer w-auto">
            <a class="btn btn-primary" href="englishDescriptionPage">Details</a>

        </div>
    </div>

    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto w-25">
                <img alt="missing img" class="img-fluid"
                     src="../../static/img/german.jpg" th:src="@{/img/german.jpg}">
            </div>
            <div class="col-auto">
                <div class="card-block px-2">
                    <h5 class="card-title"> <b>German Pre-intermediate course</b></h5>
                    <p class="card-text">
                    <ul id="er" type="circle">
                    <li>We work with real world materials
                    <li>Speak in the classroom, usually in partners or small groups.
                    <li>We explain German grammar in great detail
                    <li>We use a lot of materials
                    <li>We use high-quality textbooks </ul></p>
                </div>
            </div>
        </div>
        <div class="card-footer w-auto">
            <div class="row no-gutters">
                <div class="col-auto w-25">
                    <a class="btn btn-primary" href="germanDescriptionPage">Details</a>
                </div>
                <div class="col-auto">
                    <div class="card-block px-2">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto w-25">
                <img alt="missing img" class="img-fluid"
                     src="../../static/img/polish.jpg" th:src="@{/img/polish.jpg}">
            </div>
            <div class="col-auto">
                <div class="card-block px-2">
                    <h5 class="card-title"><b>Polish intermediate course</b></h5>
                    <p class="card-text">
                    <ul id="er" type="circle">
                        <li>communicate in a wide range of situations
                    <li>have a fluent conversation with native speakers of Polish
                    <li>formulate consistent oral and written statements on familiar or interesting topics
                    <li>describe experiences, events, plans and dreams
                    <li>justify and explain your views and objectives</li></ul></p>
                </div>
            </div>
        </div>
        <div class="card-footer w-auto">
            <div class="row no-gutters">
                <div class="col-auto w-25">
                    <a class="btn btn-primary" href="polishDescriptionPage">Details</a>
                </div>
                <div class="col-auto">
                    <div class="card-block px-2">
                        <p class="text-right"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row no-gutters">
                <div class="col-auto w-25">
                    <img alt="missing img" class="img-fluid"
                         src="../../static/img/franch.jpg" th:src="@{/img/franch.jpg}">
                </div>
                <div class="col-auto">
                    <div class="card-block px-2">
                        <h5 class="card-title"><b>French Upper-intermediate course</b></h5>
                        <p class="card-text">
                        <ul id="er" type="circle">
                            <li>A lot of practice
                            <li>have a fluent conversation with native speakers
                            <li>formulate consistent oral and written statements
                            <li>describe experiences, events, plans and dreams
                            <li>justify and explain your views and objectives</li></ul></p>
                    </div>
                </div>
            </div>
            <div class="card-footer w-auto">
                <div class="row no-gutters">
                    <div class="col-auto w-25">
                        <a class="btn btn-primary" href="franceDescriptionPage">Details</a>
                    </div>
                    <div class="col-auto">
                        <div class="card-block px-2">
                            <p class="text-right"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-auto w-25">
                            <img alt="missing img" class="img-fluid"
                                 src="../../static/img/litva.jpg" th:src="@{/img/litva.jpg}">
                        </div>
                        <div class="col-auto">
                            <div class="card-block px-2">
                                <h5 class="card-title"><b>Business English courses</b></h5>
                                <p class="card-text">
                                <ul id="er" type="circle">
                                    <li> Develop greater control of English grammar
                                    <li> Express and understand key information.
                                    <li> Describe experiences and events, dreams, hopes and ambitions
                                    <li> Give reasons and explanations for opinions and plans
                                    <li> Practise forming connected text on topics of personal interest
                                    <li> Increase your vocabulary</li></ul></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer w-auto">
                        <a class="btn btn-primary" href="businessDescriptionPage">Details</a>

                    </div>
                </div>


            </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>