<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COURSES</title>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/buttonTop.css" rel="stylesheet" th:href="@{css/buttonTop.css}" type="text/css"/>
    <link href="/../css/buttonTop.css" rel="stylesheet" th:href="@{css/period.css}" type="text/css"/>
    <style>

    </style>
</head>
<body>
<div th:insert="frontend/navbar :: nav"></div>

<!-- About Section -->
<div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
        <img src="/../img/polish.jpg" width="600" height="450">
    </div>
    <!--img src="../../static/img/engl.jpg"-->
    <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">Polish intermediate course</h1><br>
        <h5 class="w3-center">Start: 01.09.2019</h5>
        <h5 class="w3-center">End: 15.10.2019</h5>
        <p class="w3-large">Develop greater control of English grammar, including more sophisticated areas like present perfect simple and conditionals.
            Express and understand key information about typical situations such as work, school or leisure.
            Describe experiences and events, dreams, hopes and ambitions.
            Give reasons and explanations for opinions and plans.
            Practise forming connected text on topics of personal interest.
            Increase your vocabulary to cover subjects such as holidays, people in your life and food.</p>
    </div>
</div>
<div class="button">
    <!--    <input type="button" th:href="@{/course_create/1}" class="button1" value="Join croup">-->
    <!--    <input type="button"  class="button1" value="Choose date">-->
    <a class="btn btn btn-info btn-lg" th:href="@{/weekday-add-1}">Join course</a>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>