<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit task</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
</head>
<body>
<div th:insert="frontend/navbar :: nav"></div>

<h1>Edit task</h1>
<div class="row justify-content-center">
    <div class="col-md-4 col-md-offset-4">
        <form action="#" method="post" th:action="@{/edit-task-{id}(id = ${task.taskId})}" th:object="${task}">

            <input class="form-control" placeholder="task id" th:field="*{taskId}" type="hidden"/>

            <label>homework Id</label>
            <input class="form-control" placeholder="homeworkId" th:field="*{homeworkId}" type="number"/>
            <p class="alert alert-danger" th:errors="*{homeworkId}" th:if="${#fields.hasErrors('homeworkId')}">
                Error, check homeworkId field</p>

            <label>task description</label>
            <input class="form-control" placeholder="taskDescription" th:field="*{taskDescription}" type="text"/>
            <p class="alert alert-danger" th:errors="*{taskDescription}"
               th:if="${#fields.hasErrors('taskDescription')}">
                Error, check taskDescription field</p>


            <input class="btn btn-success" type="submit" value="Save"/>
        </form>
    </div>
</div>
</body>
</html>