<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>task Create</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width" name="viewport">
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/buttonTop.css" rel="stylesheet" th:href="@{css/buttonTop.css}" type="text/css"/>
</head>

<body>
<div th:insert="frontend/navbar :: nav"></div>

<div class="container-fluid">
    <h2>task List</h2>
    <h2>
        <a class="btn btn-success" th:href="@{/task-add}">CREATE NEW TASK</a>
    </h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="row">taskId</th>
            <th scope="row">homeworkId</th>
            <th scope="row">taskDescription</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="task, iter : ${taskList}">
            <td th:text="${task.taskId}"></td>
            <td th:text="${task.homeworkId}"></td>
            <td th:text="${task.taskDescription}"></td>

            <td>
                <div class="btn-group">
                    <!--                    Delete button use @PathVariable to understand what id it need-->
                    <a class="btn btn-info" th:href="@{/edit-task-{id} (id = ${task.taskId}) }">Edit</a>
                    <a class="btn btn-dark" th:href="@{/task-delete-by-{id} (id = ${task.taskId}) }">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>