<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add task</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/custom.css" rel="stylesheet" th:href="@{css/custom.css}" type="text/css"/>
</head>

<body>
<div th:insert="frontend/navbar :: nav"></div>

<h1>New task</h1>
<div class="container-fluid">

    <div class="row no-gutters ">
        <div class="col">
            <form action="#" method="post" th:action="@{task-save}" th:object="${task}">
                <input class="form-control" placeholder="Id" th:field="*{taskId}" type="hidden"/>

                <input class="form-control" placeholder="homeworkId" th:field="*{homeworkId}" type="number"/>
                <p class="alert alert-danger" th:errors="*{homeworkId}" th:if="${#fields.hasErrors('homeworkId')}">
                    Error, check homeworkId field</p>

                <input class="form-control" placeholder="taskDescription" th:field="*{taskDescription}" type="text"/>
                <p class="alert alert-danger" th:errors="*{taskDescription}"
                   th:if="${#fields.hasErrors('taskDescription')}">
                    Error, check taskDescription field</p>

                <input class="btn btn-success" type="submit" value="Save task"/>
            </form>
        </div>
    </div>

</div>

</body>
</html>