<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Group</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
</head>
<body>
<div th:insert="frontend/navbar :: nav"></div>

<h1>Edit Course</h1>
<div class="row justify-content-center">
    <div class="col-md-4 col-md-offset-4">
        <form action="#" method="post" th:action="@{/edit-group-{groupId}-{id}
        (groupId = ${group.groupId},id = ${group.courseId})}"
              th:object="${group}">

            <input class="form-control" placeholder="ID" th:field="*{groupId}" type="hidden"/>
            <input class="form-control" placeholder="ID" th:field="*{courseId}" type="hidden"/>

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" placeholder="Group Name" th:field="*{groupName}" type="text"/>
                <p class="alert alert-danger" th:errors="*{groupName}" th:if="${#fields.hasErrors('groupName')}">
                    Error, check name field</p>
            </div>

            <div class="form-group">
                <label>Capacity</label>
                <input class="form-control" placeholder="Group Capacity" th:field="*{groupCapacity}" type="number"/>
                <p class="alert alert-danger" th:errors="*{groupCapacity}"
                   th:if="${#fields.hasErrors('groupCapacity')}">
                    Error, check capacity field</p>
            </div>

<!--            <div class="form-group">-->
<!--                <label for="formSelectCourse">Course</label>-->
<!--                <select id="formSelectCourse" class="form-control" th:field="*{courseId}">-->
<!--                    <option th:each="course : ${courses}"-->
<!--                            th:value="${course.courseId}"-->
<!--                            th:text="${course.courseName}">-->
<!--                    </option>-->
<!--                </select>-->
<!--            </div>-->

            <div class="form-group">
                <label for="formSelectStatus">Group status</label>
                <select id="formSelectStatus" class="form-control" th:field="*{statusId}">
                    <option th:each="status : ${statuses}"
                            th:value="${status.statusId}"
                            th:text="${status.statusName}">
                    </option>
                </select>
            </div>

            <input class="btn btn-success" type="submit" value="Save"/>
        </form>
    </div>
</div>
</body>
</html>