<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Group</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
</head>
<body>
<div th:insert="frontend/navbar :: nav"></div>

<h1>Edit Course</h1>
<div class="row justify-content-center">
    <div class="col-md-4 col-md-offset-4">
        <form action="#" method="post" th:action="@{/edit-group-{id}(id = ${group.groupId})}"
              th:object="${group}">

            <input class="form-control" placeholder="ID" th:field="*{groupId}" type="hidden"/>

            <input class="form-control" placeholder="Name" th:field="*{groupName}" type="text"/>
            <p class="alert alert-danger" th:errors="*{groupName}" th:if="${#fields.hasErrors('groupName')}">
                Error, check name field</p>

            <input class="form-control" placeholder="Group capacity" th:field="*{groupCapacity}" type="number"/>
            <p class="alert alert-danger" th:errors="*{groupCapacity}" th:if="${#fields.hasErrors('groupCapacity')}">
                Error, check group capacity field</p>

            <input class="form-control" placeholder="Course ID" th:field="*{courseId}" type="number"/>
            <p class="alert alert-danger" th:errors="*{courseId}" th:if="${#fields.hasErrors('courseId')}">
                Error, check course id field</p>

            <input class="form-control" placeholder="Status ID" th:field="*{statusId}" type="number"/>
            <p class="alert alert-danger" th:errors="*{statusId}" th:if="${#fields.hasErrors('statusId')}">Error,
                status id field</p>

            <input class="btn btn-success" type="submit" value="Save"/>
        </form>
    </div>
</div>
</body>
</html>