<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Group</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/../css/bootstrap-grid.css" rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link href="/../css/bootstrap-reboot.css" rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link href="/../css/custom.css" rel="stylesheet" th:href="@{css/custom.css}" type="text/css"/>
</head>

<body>
<div th:insert="frontend/navbar :: nav"></div>

<h1>New Group</h1>
<div class="container-fluid">

    <div class="row no-gutters ">
        <div class="col">
            <form action="#" method="post" th:action="@{group-save}" th:object="${group}">
                <input class="form-control" placeholder="Id" th:field="*{groupId}" type="hidden"/>

                <input class="form-control" placeholder="Name" th:field="*{groupName}" type="text"/>
                <p class="alert alert-danger" th:errors="*{groupName}" th:if="${#fields.hasErrors('groupName')}">
                    Error, check name field</p>

                <input class="form-control" placeholder="Group Capacity" th:field="*{groupCapacity}" type="number"/>
                <p class="alert alert-danger" th:errors="*{groupCapacity}" th:if="${#fields.hasErrors('groupCapacity')}">
                    Error, check capacity field</p>

                <input class="form-control" placeholder="Course ID" th:field="*{courseId}" type="number"/>
                <p class="alert alert-danger" th:errors="*{courseId}" th:if="${#fields.hasErrors('courseId')}">
                    Error, check course id field</p>

                <input class="form-control" placeholder="Status ID" th:field="*{statusId}" type="number"/>
                <p class="alert alert-danger" th:errors="*{statusId}" th:if="${#fields.hasErrors('statusId')}">Error,
                    status id</p>

                <input class="btn btn-success" type="submit" value="Save group"/>
            </form>
        </div>
    </div>

</div>

</body>
</html>